<app-navbar-before></app-navbar-before>
<div class="container">
	<div class="jumbotron">
		<h1 class="display-3">Check Weather Anytime,Anywhere....</h1>
		<p class="lead">Here you will get weather forecast upto 10 days, with a single Click!!!</p>
		<hr class="my-4">

	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="card">
				<div class="card-block">
					<h3 class="card-title">Register</h3>
					<p class="card-text">New User?? No Problem registeration will take only 1 minute...SignUp and get lifetime free access to weather.</p>
					<a  routerLink="/register" class="btn btn-primary">Register</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="card">
				<div class="card-block">
					<h3 class="card-title">Already a member??</h3>
					<p class="card-text">Login to your account and check weather of anyplace in seconds...and add your favourite day in favourite's List.</p>
					<a routerLink="/login" class="btn btn-primary">Login</a>
				</div>
			</div>
		</div>
	</div>


</div>